<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= msg %>
    <form action="/admin/login" method="post">
    <input type="text"  name="key" placeholder="Api Key" required>
    <input type="password"  name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password"quired>
    <button type="submit" class="btn btn-primary go">Go</button>
</form>
</body>
<script src="/javascripts/jquery.js"></script>

</html>
