  <!--==========================
      Frequently Asked Questions Section
    ============================-->
 <!--   <section id="faq">
        <div class="container">
          <div class="row">
                <div class="col-md-12 text-center heading-main">
                    <h2 class="heading">Frequently Asked Questions</h2>
                    <div class="separator"><i class="fa fa-handshake-o below-line-about-icon"></i></div>

                </div>
            </div>     
  
          <ul id="faq-list" class="wow fadeInUp">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Which programming language you use in provided project file ? <i class="fa fa-sort-down"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  We provide all programming languages which use in web development like PHP, Node.Js, AngularJs, React Js, Java, HTML, Python, JavaScript, Jquery, JSON, Css, Bootstrap, MySql etc. 
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed">Which types of project or project file you provide ? <i class="ion-android-remove"></i></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p>
                 We provide all types of web and app development projects like Smart Attendance, Payroll Management, Cricket Club System, Daily Expense Tracker, ERP College Management, Real Estate Management, Matrimonial Site, Bike and Car Rental System, Online Election System, Online Quiz System, Online Food Ordering, Library Management, Hospital Management, Hotel Management System, Online Job Portal, Event Management System, E-Commerce, Pizza Ordering System and so on.
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">How we create own project file ? <i class="ion-android-remove"></i></a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>
                 You choose your project as per your need , customize and edit your information then you download your project file as free of cost.
                </p>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">How we request to you create my project ? <i class="ion-android-remove"></i></a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <p>
                 You have to follow these steps -:
                </p>
                <p>
                  Firstly,You go to make your own project section, then you have to choose that you want project or project file.

                 </p>
                 <p>
                 In the end you contact us , our team will contact you as soon as. 
                  
                 </p>
              </div>
            </li>
  
        
  
         
  
          </ul>
  
        </div>
      </section>-->
      <!-- #faq -->
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
      <div class="footer-top">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-6">
  
              <div class="row">
  
                  <div class="col-sm-6">
  
                    <div class="footer-info">
                      <h3>FileMakr</h3>
                    <b><p>The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.</b></p>
                    </div>
  
                   
                  </div>
  
                  <div class="col-sm-6">
                    <div class="footer-links">
                      <h4>Useful Links</h4>
                      <ul>
                        
                        <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                      </ul>
                    </div>
  
                    <div class="footer-links">
                      <h4>Contact Us</h4>
                      <p>
                        <strong>Phone:</strong>  <a href="tel:8319339945" style="color:black">+91 8319339945</a><br>
                        <strong>Email:</strong>  <a href="mailto:filemakr@gmail.com" style="color:black">filemakr@gmail.com</a><br>
                      </p>
                    </div>
  
                    <div class="social-links">
                      <a href="https://twitter.com/FileMakr" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="https://www.facebook.com/FileMakr" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="https://www.instagram.com/filemakr" class="instagram"><i class="fa fa-instagram"></i></a>
                      <!--<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
                    </div>
  
                  </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
  
              <div class="form">
                
                <h4>Send us a message</h4>
                <p></p>
                <form action="/contactus" method="post"  id="contact" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
  
                  <div id="sendmessage">Your message has been sent. Thank you!</div>
                  <div id="errormessage">Not Send</div>
  
                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>
  
            </div>
  
            
  
          </div>
  
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; 2019 Copyright <strong>FileMakr</strong>. 
        </div>
       <!-- <div class="credits">
        
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>-->
      </div>
    </footer><!-- #footer -->
  
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
  
    <!-- JavaScript /a/libraries -->
    <script src="/javascripts/jquery.js"></script>
    <script rel="preload" src="/javascripts/all.js" as="script" async></script>
  
   
  <!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
  (function() {
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1468473231]);
  var ldinsp = function(){
  if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1468473231&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 0);
  })();
  </script>
  <!-- End Inspectlet Asynchronous Code -->


<!--FreshChat Code-->


<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "d1beb017-752d-4456-9b28-28505683eb74",
      host: "https://wchat.in.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.in.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>

<!--Fresh Code End-->

  
    <!-- Template Main Javascript File -->
    
  