
<footer class="footer">

  <div class="footer-top aos" data-aos="fade-up">
   <div class="container">
  <div class="row">
  <div class="col-lg-4 col-md-6">
  
  <div class="footer-widget footer-about">
  <div class="footer-logo">
  <img src="/images/filemakr-project-file-creator-favicon.png" alt="logo">
  </div>
  <div class="footer-about-content">
  <p>The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.</p>
  </div>
  </div>
  
  </div>
  <div class="col-lg-2 col-md-6">
  
  <div class="footer-widget footer-menu">
  <h2 class="footer-title">Project Report</h2>
  <ul>
    <li><a href="/btech-final-year-project-report">B.TECH</a></li>
    <li><a href="/mtech-final-year-project-report">M.TECH</a></li>
    <li><a href="/be-final-year-project-report">BE</a></li>
    <li><a href="/me-final-year-project-report">ME</a></li>
     <li><a href="/bca-final-year-project-report">BCA</a></li>
      <li><a href="/mca-final-year-project-report">MCA</a></li>
  </ul>
  </div>
  
  </div>
  <div class="col-lg-2 col-md-6">
  
  <div class="footer-widget footer-menu">
  <h2 class="footer-title">Important Links</h2>
  <ul>
  <li><a href="/project-ideas">Project Ideas</a></li>
  <li><a href="/source-code">Source Code</a></li>
  <li><a href="/aboutus">About Us</a></li>
  <li><a href="/contact-us">Contact Us</a></li>

  
  </ul>
  </div>
  
  </div>
  <div class="col-lg-4 col-md-6">
  
  <div class="footer-widget footer-contact">
  <h2 class="footer-title">Contact Details</h2>
  
  <div class="footer-contact-info">
  <div class="footer-address">
  <img src="/design/img/icon/icon-20.svg" alt="" class="img-fluid">
  <p> New Delhi , India </p>
  </div>
  <p>
  <img src="/design/img/icon/icon-19.svg" alt="" class="img-fluid">
  <a href="mailto:filemakr@gmail.com">filemakr@gmail.com</a>
  </p>
  <!-- <p>
  <img src="/design/img/icon/icon-21.svg" alt="" class="img-fluid">
  +91 831-933-9945
  </p> -->
  
  
  <p>
  
  
  <p class="mb-0">
   <a href="https://www.filemakr.com/"> <img src="/design/img/net-icon-01.png" alt="" class="img-fluid" style="width: 30px;"></a>
   <a href="https://www.facebook.com/FileMakr"> <img src="/design/img/facebook.png" alt="" class="img-fluid" style="width: 30px;"></a>
  
  <a href="https://www.instagram.com/filemakr">  <img src="/design/img/instagram.png" alt="" class="img-fluid" style="width: 30px;"></a>
   <a href="https://twitter.com/FileMakr"> <img src="/design/img/net-icon-04.png" alt="" class="img-fluid" style="width: 30px;"></a>
   <a href="https://www.linkedin.com/company/filemakr/"> <img src="/design/img/linkedin.png" alt="" class="img-fluid" style="width: 30px;"></a>
  
  
  
  
    </p>
  
  
  
  </div>
  
  
  
  
  </div>
  
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="footer-bottom">
  <div class="container">
  
  <div class="copyright">
  <div class="row">
  <div class="col-md-6">
  <div class="privacy-policy">
  <ul>
  <li><a href="/terms-and-conditions">Terms</a></li>
  <li><a href="/privacy-policy">Privacy</a></li>
  <li><a href="/refund-policy">Refund</a></li>
            
  
  </ul>
  </div>
  </div>
  <div class="col-md-6">
  <div class="copyright-text">
  <p class="mb-0">&copy; 2019 FileMakr. All rights reserved.</p>
  </div>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  
  </footer>
  
  </div>
  
  
  <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/design/js/jquery-3.6.0.min.js"></script>
  
  <script src="/design/js/bootstrap.bundle.min.js"></script>
  
  <script src="/design/js/jquery.waypoints.js"></script>
  <script src="/design/js/jquery.counterup.min.js"></script>
   
  <script src="/design/plugins/select2/js/select2.min.js"></script>
  
  <script src="/design/js/owl.carousel.min.js"></script>
  
  <script src="/design/plugins/slick/slick.js"></script>
  
  <script src="/design/plugins/aos/aos.js"></script>
  
  <script src="/design/js/script.js"></script>
  </body>
  
  
  
  <!-- Mirrored from dreamslms.dreamguystech.com/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2023 14:03:33 GMT -->
  </html>