<header class="header header-page">
    <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
        <div class="container">
            <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
            </span>
            </a>
            <a href="/" class="navbar-brand logo">
            <!-- <img src="/images/filemakr-project-file-creator-favicon.png" style="width: 60px;" class="img-fluid" alt="Logo">
             -->
             <!-- FileMakr -->
             <h1>File<span style="color: #F66962;">Makr</span></h1>
            
            </a>
            </div>
            <div class="main-menu-wrapper">
            <div class="menu-header">
            <a href="index.html" class="menu-logo">
            <!-- <img src="/images/filemakr-project-file-creator-favicon.png" class="img-fluid" alt="Logo"> -->
            <h1>File<span style="color: #F66962;">Makr</span></h1>
            
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
            </a>
            </div>
            <ul class="main-nav">
            <li class="active">
            <a href="index.html">Home</a>
            </li>
            <li class="has-submenu">
            <a href="#">Project Report <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
              <li><a href="/btech-final-year-project-report">B.TECH</a></li>
              <li><a href="/mtech-final-year-project-report">M.TECH</a></li>
              <li><a href="/be-final-year-project-report">BE</a></li>
              <li><a href="/me-final-year-project-report">ME</a></li>
               <li><a href="/bca-final-year-project-report">BCA</a></li>
                <li><a href="/mca-final-year-project-report">MCA</a></li>
            </ul>
            </li>
            
            <li class="">
              <a href="/project-ideas">Project Ideas</a>
              </li>
            
            
              <li class="">
                <a href="/source-code">Source Code</a>
                </li>
            
            
            <li class="login-link">
            <a href="login.html">Login / Signup</a>
            </li>
            </ul>
            </div>
            <ul class="nav header-navbar-rht">
            <li class="nav-item">
            <a class="nav-link header-sign" href="login.html">Signin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link header-login" href="/contact-us">Contact Us</a>
            </li>
            </ul>
            </div>
    </nav>
    </div>
    </header>