

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>
<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-7230981653683251",
enable_page_level_ads: true
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150389922-1');
</script>


<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '696702907369810');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=696702907369810&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->



<script data-ad-client="ca-pub-7230981653683251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Download 12th class physics notes download"/>
    <meta name="abstract" content="Download 12th class physics notes download"/>
    <meta name=keywords content="Download 12th class physics notes download"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="Download 12th class physics notes download"/>
    <link rel="shortcut icon" type="images/x-icon" href="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr />
    
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="Download 12th class physics notes download"/>
    <meta property=og:title content="Download 12th class physics notes download"/>
    <meta property=og:type content="Download 12th class physics notes download"/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/ogimage.jpg"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="Download 12th class physics notes download"/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="Download 12th class physics notes download"/>
   <link rel=canonical href="https://www.filemakr.com/readymade-project-file">
    <title>Download 12th class physics notes download — Filemakr</title>




    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Startup",
        "url": "http://www.filemakr.com",
        "name": "Build Major & Minor Project File.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-831-933-9945",
          "contactType": "Enginerring service"
        }
      }
      </script> 

<!-- Favicons -->
<link href="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

 <!-- Bootstrap CSS File -->
 <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

 <!-- /a/libraries CSS Files -->
 <link href="/all.css" rel="preload" as="style" async>
 <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
 <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
 <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

 <!-- Main Stylesheet File -->
 <link href="/a/css/style.css" rel="stylesheet" async>



  <style>
    
    a:hover {cursor: pointer;}
    
    
    select {
      width: 25800px;
      position: relative;
      left: 0px;
      margin: 0;
      border: 1px solid #DDE1E4;
      border-top: none;
      font-size:9pt;
    }
    
    datalist {
      display: none;
    }
    
    option {
      padding: 3px;
    }
    
    option:hover {
      background-color: #11E8EA;
    }
    
    
    
    /* to hide datalist arrow in webkit */
    
    input::-webkit-calendar-picker-indicator {
      display: none;
    }
    
    </style>
    
    



  <style>
  
/* Search Style */ 
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);    
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
  	background: transparent;
  	border-top: 1px solid rgba(255, 255, 255, .8);
  	border-bottom: 2px solid rgba(255, 255, 255, .5);
  	border-left: 0px solid transparent;
  	border-right: 0px solid transparent;
    font-size: 40px;
  	font-family: Roboto;
    font-weight: 300;
    text-align: center;
    outline: none;
  	padding: 10px;
}
  
#search .close {
    position: fixed;
    top: 125px;
    right: 15px;
	  opacity: 1;
	  font-size: 27px;
  	color: #fff;
}

#search .close:hover{
  color: #FC2121;
  cursor: pointer;
}
  
  </style>



</head>

<body>
  
    <%include ./navbar.ejs %>  
    
  <main id="main">





    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          
 <br><br><br><br><br><br>


<!-- Font Awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Roboto Webfont -->
<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  
<!-- Search Link -->




 <h3>Choose Your Notes</h3>
          <p></p>
        </header>

        <div class="row">

         
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">

                <h4 class="title"><a href="/notes/physics/unit1.docx" alt="Download class 12th pysics unit 1 notes" id="hii">Electrostatics</a></h4>

                <p class="description">Chapter 1 - Electic Charges and Fiels</p>
              </div>
            </div>
            
         
        </div>

      </div>
    </section><!-- #services -->

  
    
    
    <a href="#search" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
    <%include ./footer.ejs %>  
  
    
  
</body>

<script>

$(document).ready(function(){
	$('a[href="#search"]').on('click', function(event) {                    
		$('#search').addClass('open');
		$('#search > form > input[type="search"]').focus();
	});            
	$('#search, #search button.close').on('click keyup', function(event) {
		if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
			$(this).removeClass('open');
		}
	});            
});

</script>


<script>

$('#hii').click(function(){
  $.post('/class-12-physics-notes-download/insert',data=>{

  })
})

</script>


</html>
