<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamguystech.com/html/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2023 14:05:52 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">



<meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name=description content="Order Final Year Project Reports & Source Code | FileMakr"/>
<meta name=keywords content="final year project reports, source code for students, order project report, final year project help, FileMakr, B.Tech projects, MCA source code, academic project solutions"/>

<meta name=robots content="all,follow"/>
<meta name=googlebot content="index, follow"/>
<meta name=classification content="Easily order professionally curated project reports and source code for your final year submission. FileMakr offers customized solutions for B.Tech, M.Tech, B.E., M.E., BCA, and MCA students. Place your order now and excel in your academics!"/>
<link rel="shortcut icon" type="images/x-icon" href="https://res.cloudinary.com/dggf8vl9p/image/upload/v1718627756/filemakr-project-file-creator-favicon_1_dqogst.avif" style="width:80px;" />
<meta name=distribution content=Global />
<meta name=author content="http://www.filemakr.com"/>
<meta name=Language content=English />
<meta name=rating content=general />
<meta name=owner content=FileMakr. />
<meta name=document-type content=public />
<meta name=revisit-after content=daily />
<meta name=country content=India />
<meta name=DC.title content="Order Final Year Project Reports & Source Code | FileMakr"/>
<meta property=og:title content="Order Final Year Project Reports & Source Code | FileMakr"/>
<meta property=og:type content="Order Final Year Project Reports & Source Code | FileMakr"/>
<meta property=og:url content="<%=fullUrl%>"/>
<meta property=og:image content="http://www.filemakr.com/images/ogimage.jpg"/>
<meta property=og:site_name content="http://www.filemakr.com"/>
<meta property=og:description content="Easily order professionally curated project reports and source code for your final year submission. FileMakr offers customized solutions for B.Tech, M.Tech, B.E., M.E., BCA, and MCA students. Place your order now and excel in your academics!"/>
<meta property=og:locale content="en IN"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="width"/>
<meta property="og:site_name" content="Filemakr"/>
<meta property="og:phone_number" content="+91-8319339945"/>
<meta property="og:email" content="filemakr@gmail.com"/>
<meta property="og:country-name" content="India"/>
<meta property="og:description" content="Easily order professionally curated project reports and source code for your final year submission. FileMakr offers customized solutions for B.Tech, M.Tech, B.E., M.E., BCA, and MCA students. Place your order now and excel in your academics!"/>

<link rel=canonical href="<%=fullUrl%>">
<title>Order Final Year Project Reports & Source Code | FileMakr </title>


<!-- <link rel="shortcut icon" type="image/x-icon" href="/design/img/favicon.svg"> -->

<link rel="stylesheet" href="/design/css/bootstrap.min.css">

<link rel="stylesheet" href="/design/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/design/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/design/css/feather.css">

<link rel="stylesheet" href="/design/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="/design/css/style.css">




<style>
 
 .filelabel {
     
     border: 2px dashed grey;
     border-radius: 5px;
     display: block;
     padding: 10px;
     transition: border 300ms ease;
     cursor: pointer;
     text-align: center;
     margin: 10px;
 }
 .filelabel i {
     display: block;
     font-size: 30px;
     padding-bottom: 5px;
 }
 .filelabel i,
 .filelabel .title {
   color: grey;
   transition: 200ms color;
 }
 .filelabel:hover {
   border: 2px solid #1665c4;
 }
 .filelabel:hover i,
 .filelabel:hover .title {
   color: #1665c4;
 }
 #FileInput{
     display:none;
 }
 #FileInput1{
     display:none;
 }
 .filelabel1 {
     
     border: 2px dashed grey;
     border-radius: 5px;
     display: block;
     padding: 10px;
     transition: border 300ms ease;
     cursor: pointer;
     text-align: center;
     margin: 10px;
 }
 .filelabel1 i {
     display: block;
     font-size: 30px;
     padding-bottom: 5px;
 }
 .filelabel1 i,
 .filelabel1 .title {
   color: grey;
   transition: 200ms color;
 }
 .filelabel1:hover {
   border: 2px solid #1665c4;
 }
 .filelabel1:hover i,
 .filelabel1:hover .title {
   color: #1665c4;
 }
 
 /*--- Bottom Sticky Bar---*/
 .btm-sticky {position:fixed; bottom:0; width:100%; height:50px; line-height:50px; background:#2c2926; z-index:9999; -webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;}
 .pull-left {position:absolute; display:block; left:0;}
 .pull-right {position:absolute; display:block; right:0;}
 .pull-center {position:absolute; display:block; margin:auto; left:0; right:0; float:none; text-align:center;}
 img.responsive {
     max-width:100%;
     height:auto;
     display:block;
 }
 .btm-sticky .container {position:relative !important;}
 .btm-sticky .pull-left img {position:relative; max-width:240px; top:4px; left:0;}
 .btm-sticky .pull-left img.small {display:none;}
 .btm-sticky .pull-center p {font:italic 20px 'Arapey', serif; color:#fcbd28; line-height:50px; -webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;}
 .pull-right img {position:relative; max-width:185px; top:-51px; right:0;}
 .btm-sticky:hover {background:#312d28;}
 .btm-sticky:hover .pull-center p {color:#f4972c;}
 .price {position:absolute; display:block; width:185px; right:40px; bottom:0; text-align:center;
 background: rgba(44,41,38,1);
 background: -moz-linear-gradient(left, rgba(44,41,38,1) 0%, rgba(26,24,22,0.96) 42%, rgba(0,0,0,0.19) 100%);
 background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44,41,38,1)), color-stop(42%, rgba(26,24,22,0.96)), color-stop(100%, rgba(0,0,0,0.19)));
 background: -webkit-linear-gradient(left, rgba(44,41,38,1) 0%, rgba(26,24,22,0.96) 42%, rgba(0,0,0,0.19) 100%);
 background: -o-linear-gradient(left, rgba(44,41,38,1) 0%, rgba(26,24,22,0.96) 42%, rgba(0,0,0,0.19) 100%);
 background: -ms-linear-gradient(left, rgba(44,41,38,1) 0%, rgba(26,24,22,0.96) 42%, rgba(0,0,0,0.19) 100%);
 background: linear-gradient(to right, rgba(44,41,38,1) 0%, rgba(26,24,22,0.96) 42%, rgba(0,0,0,0.19) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2926', endColorstr='#000000', GradientType=1 );
    -webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;
 }
 .price p {font: 16px 'Arapey', serif; color:#fff; height:25px; line-height:25px;}
 .price span {position:relative; top:1px;font-size:12px !important;}
 .btm-sticky:hover .price {background: -moz-linear-gradient(left, rgba(49,45,40,1) 50%, rgba(49,45,40,0) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(left, rgba(49,45,40,1) 50%,rgba(49,45,40,0) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to right, rgba(49,45,40,1) 50%,rgba(49,45,40,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#312d28', endColorstr='#00312d28',GradientType=1 ); /* IE6-9 */}
 @media (max-width:960px) {
   .btm-sticky .pull-left img {max-width:220px; top:5px; left:10px;}
   .btm-sticky .pull-right img {max-width:145px; top:-28px; right:10px;}
   .btm-sticky .pull-center p {display:none;}
 }
 @media (max-width:420px) {
   .btm-sticky .pull-left img.big {display:none;}
   .btm-sticky .pull-left img.small {display:inline;}
   .btm-sticky .pull-left img {max-width:180px; left:10px; top:5px; }
   .btm-sticky .pull-right img {max-width:140px; top:-24px; right:10px;}
 }
 /*-- Container like Bootstrap --*/
 .container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 .container-fluid {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }
 .container:before,
 .container:after,
 .container-fluid:before,
 .container-fluid:after {
   display: table;
   content: " ";
 }
 .container:after,
 .container-fluid:after {
   clear: both;
 }

 </style>
 

</head>
<body>

<div class="main-wrapper">

  <%include Includes/navbar2.ejs %>
  



<div class="breadcrumb-bar">
<div class="container">
<div class="row">
<div class="col-md-12 col-12">
<div class="breadcrumb-list">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<!-- <li class="breadcrumb-item" aria-current="page">Pages</li> -->
<li class="breadcrumb-item" aria-current="page">Order Final Year Project Reports & Source Code </li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<section class="course-content checkout-widget">
<div class="container">
<div class="row">

  <img src="https://res.cloudinary.com/dggf8vl9p/image/upload/v1738085102/Blue_Modern_Student_Abroad_Instagram_Post_bk9qcy.webp">
 



  <div class="col-lg-8">
    <!-- <form action="/btech-final-year-project-report/insert" method="post" enctype="multipart/form-data" class="uploadImage"> -->
      <div class="student-widget">
        <div class="student-widget-group add-course-info">
          <div class="cart-head">
            <h4>Personal & College Details</h4>
          </div>
          <div class="checkout-form">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Choose Order Type</label>
                  <select class="form-control" name="project_type" id="projecttype" required onchange="toggleFields()">
                    <option value="" disabled selected>Choose Order Type</option>
                    <option value="Major Project">Major Project Report</option>
                    <option value="Minor Project">Minor Project Report</option>
                    <option value="Synopsis">Synopsis</option>
                    <option value="Source Code">Source Code</option>
                    <option value="Non Technical Report">Non Technical Report</option>
                    <option value="Research Paper">Research Paper</option>
                  </select>
                </div>
              </div>


              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Coupon Code</label>
                  <input type="text" name="unique_code" id="unique_code" value="<%=unique_code%>" class="form-control">

                </div>
              </div>



              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Full Name</label>
                  <input type="text" name="name" id="name" class="form-control" placeholder="Enter your Full Name" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Mobile Number</label>
                  <input type="text" name="number" id="number" class="form-control" placeholder="Enter your Mobile Number" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Email Id</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email ID" required>
                </div>
              </div>
              <input type="hidden" name="total_amount" id="totalAmount" class="form-control" readonly />
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Enter Project Topic</label>
                  <input type="text" class="form-control" name="topic" placeholder="Enter Project Topic" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group" id="reportDeliveryContainer">
                  <label for="reportWay" class="form-control-label">Choose Report Delivery Format</label>
                  <select id="reportWay" name="reportWay" class="form-control" onchange="toggleBindingOptions()">
                    <option value="Hard Copy">Printed (Hard Copy)</option>
                    <option value="Soft Copy">Digital (Soft Copy - PDF)</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6" id="bindingMethodContainer">
                <div class="form-group">
                  <label for="bindingMethod" class="form-control-label">Select Report Binding Method</label>
                  <select id="bindingMethod" name="bindingMethod" class="form-control">
                    <option value="spiral">Spiral Binding</option>
                    <option value="hardbound">Hard Bound Binding</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6" id="quantityContainer">
                <div class="form-group">
                  <label class="form-control-label">Select Quantity</label>
                  <select name="quantity" id="quantity" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6" id="pagesContainer">
                <div class="form-group">
                  <label class="form-control-label">Enter Number of Pages</label>
                  <input type="number" class="form-control" name="pages" id="pages" min="1" placeholder="Enter number of pages">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Enter Technology (Optional)</label>
                  <input type="text" class="form-control" id="name" name="technology" placeholder="Enter Technology (Ex. PHP, MySQL)">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Enter Your Full Delivery Address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Enter Your Full Delivery Address" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Enter Instruction (Optional)</label>
                  <input type="text" class="form-control" name="description" placeholder="Enter Instruction (Optional)">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">References (Optional)</label>
                  <label class="filelabel" id="filelabel">
                    <i class="fa fa-paperclip"></i>
                    <span class="title">Upload References (Optional)</span>
                    <input class="FileUpload1" id="FileInput" name="references" type="file" />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="student-widget pay-method">
        <div class="student-widget-group add-course-info">
          <div class="checkout-form">
            <div class="row">
              <div class="col-lg-12">
                <div class="payment-bt">
                  <a class="btn btn-primary" id="calculateButton" onclick="calculateAmounts()">Calculate Payment</a>
                  <a class="btn btn-primary" id="paymentButton" type="submit" style="display: none;">Make Payment</a>
                  <br/>
                  <div id="totalPrice" style="display: none;font-weight: bold;">Total Price: <span id="priceAmount"></span></div>
                  <div id="discount" style="display: none;font-weight: bold;color: green;">Discount: <span id="discountPercentage"></span></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </form> -->
  </div>





<div class="col-lg-4 theiaStickySidebar">
    <div class="student-widget select-plan-group">
    <div class="student-widget-group">
    <div class="plan-header">
    <h4>Order Includes </h4>
    </div>
    <div class="basic-plan">
    <h3></h3>
    <p></p>
    </div>
    <div class="benifits-feature">
    <h3>    </h3>
    <ul style="font-weight: bold;color: black;">
    
    
    </ul>
    </div>
    
    
    </div>
    </div>
    </div>




  


        <input type="hidden" id="singleorderprice">

</div>
</div>
</section>


<%include Includes/footer.ejs %>  
 


</div>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/design/js/jquery-3.6.0.min.js"></script>

<script src="/design/js/bootstrap.bundle.min.js"></script>

<script src="/design/plugins/select2/js/select2.min.js"></script>

<script src="/design/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script src="/design/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

<script src="/design/js/script.js"></script>
</body>



<script rel="preload" src="/javascripts/all.js" as="script" async></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.js"></script>

<script src="https://unpkg.com/vue@2.3.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>






<script type="text/javascript">








  $("#FileInput").on('change',function (e) {
            var labelVal = $(".title").text();
            var oldfileName = $(this).val();
                fileName = e.target.value.split( '\\' ).pop();
                if (oldfileName == fileName) {return false;}
                var extension = fileName.split('.').pop();
            if ($.inArray(extension,['jpg','jpeg','png']) >= 0) {
                $(".filelabel i").removeClass().addClass('fa fa-file-image-o');
                $(".filelabel i, .filelabel .title").css({'color':'#208440'});
                $(".filelabel").css({'border':' 2px solid #208440'});
            }
            else if(extension == 'pdf'){
                $(".filelabel i").removeClass().addClass('fa fa-file-pdf-o');
                $(".filelabel i, .filelabel .title").css({'color':'red'});
                $(".filelabel").css({'border':' 2px solid red'});
            }
  else if(extension == 'doc' || extension == 'docx'){
            $(".filelabel i").removeClass().addClass('fa fa-file-word-o');
            $(".filelabel i, .filelabel .title").css({'color':'#2388df'});
            $(".filelabel").css({'border':' 2px solid #2388df'});
        }
            else{
                $(".filelabel i").removeClass().addClass('fa fa-file-o');
                $(".filelabel i, .filelabel .title").css({'color':'black'});
                $(".filelabel").css({'border':' 2px solid black'});
            }
            if(fileName ){
                if (fileName.length > 10){
                    $(".filelabel .title").text(fileName.slice(0,4)+'...'+extension);
                }
                else{
                    $(".filelabel .title").text(fileName);
                }
            }
            else{
                $(".filelabel .title").text(labelVal);
            }
        });
 
 
        $("#FileInput1").on('change',function (e) {
            var labelVal = $(".title").text();
            var oldfileName = $(this).val();
                fileName = e.target.value.split( '\\' ).pop();
                if (oldfileName == fileName) {return false;}
                var extension = fileName.split('.').pop();
            if ($.inArray(extension,['jpg','jpeg','png']) >= 0) {
                $(".filelabel1 i").removeClass().addClass('fa fa-file-image-o');
                $(".filelabel1 i, .filelabel .title").css({'color':'#208440'});
                $(".filelabel1").css({'border':' 2px solid #208440'});
            }
            else if(extension == 'pdf'){
                $(".filelabel1 i").removeClass().addClass('fa fa-file-pdf-o');
                $(".filelabel1 i, .filelabel .title").css({'color':'red'});
                $(".filelabel1").css({'border':' 2px solid red'});
            }
  else if(extension == 'doc' || extension == 'docx'){
            $(".filelabel1 i").removeClass().addClass('fa fa-file-word-o');
            $(".filelabel1 i, .filelabel .title").css({'color':'#2388df'});
            $(".filelabel1").css({'border':' 2px solid #2388df'});
        }
            else{
                $(".filelabel1 i").removeClass().addClass('fa fa-file-o');
                $(".filelabel1 i, .filelabel .title").css({'color':'black'});
                $(".filelabel1").css({'border':' 2px solid black'});
            }
            if(fileName ){
                if (fileName.length > 10){
                    $(".filelabel1 .title").text(fileName.slice(0,4)+'...'+extension);
                }
                else{
                    $(".filelabel1 .title").text(fileName);
                }
            }
            else{
                $(".filelabel1 .title").text(labelVal);
            }
            console.log($("#FileInput1").attr('src',URL.createObjectURL(event.target.files[0])))
            // alert(oldfileName)
        });
/**
 * Chosen: Multiple Dropdown
 */
window.WDS_Chosen_Multiple_Dropdown = {};
( function( window, $, that ) {
  // Constructor.
  that.init = function() {
    that.cache();
    if ( that.meetsRequirements ) {
      that.bindEvents();
    }
  };
  // Cache all the things.
  that.cache = function() {
    that.$c = {
      window: $(window),
      theDropdown: $( '.dropdown' ),
    };
  };
  // Combine all events.
  that.bindEvents = function() {
    that.$c.window.on( 'load', that.applyChosen );
  };
  // Do we meet the requirements?
  that.meetsRequirements = function() {
    return that.$c.theDropdown.length;
  };
  // Apply the Chosen.js library to a dropdown.
  // https://harvesthq.github.io/chosen/options.html
  that.applyChosen = function() {
    that.$c.theDropdown.chosen({
      inherit_select_classes: true,
      width: '300px',
    });
  };
  // Engage!
  $( that.init );
})( window, jQuery, window.WDS_Chosen_Multiple_Dropdown );
</script>








<script>




    document.addEventListener('DOMContentLoaded', function () {
      // Cached DOM elements
      const projecttype = document.getElementById('projecttype');
      const pagesInput = document.getElementById('pages');
      const totalAmountInput = document.getElementById('totalAmount');
      const orderPriceElement = document.querySelector('.basic-plan h2');
      const benefitsListElement = document.querySelector('.benifits-feature ul');
  
      const pricePerPage = 10; // Price per page for specific order types
      const advancePercentage = 0.15; // Advance percentage
  
      
  
      // Function to handle API response
      function handleApiResponse(data) {
        console.log('API Response:', data);
  
        const orderDetails = data[0][0];
        const features = data[1];
        const quantity = parseInt(document.getElementById('quantity').value) || 1;
  
        // Update order details
        document.querySelector('.basic-plan h3').textContent = orderDetails.name;
  
       
          
        
  
        // Populate benefits/features list
        benefitsListElement.innerHTML = '';
        features.forEach(feature => {
          const listItem = document.createElement('li');
          listItem.innerHTML = `<i class="fas fa-circle"></i> ${feature.name}`;
          benefitsListElement.appendChild(listItem);
        });
      }
  
      // Event listener for order type change
      projecttype.addEventListener('change', function () {
        const selectedValue = this.value;

  
        if (selectedValue) {
          fetch(`/shopkeeper/mastercategory/details?ordertype=${selectedValue}`)
            .then(response => {
              if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
              return response.json();
            })
            .then(handleApiResponse)
            .catch(error => console.error('Error fetching data:', error));
        }
      });
  
      // Event listener for pages input change
  
      // Function to show/hide loader during form submission
      function toggleLoader(show) {
        const loaderOverlay = document.getElementById('loader-overlay');
        loaderOverlay.style.display = show ? 'flex' : 'none';
      }
  
      // Event listener for form submission
      const form = document.getElementById('orderForm');
      form.addEventListener('submit', function (event) {
        toggleLoader(true);
        form.querySelector('button[type="submit"]').disabled = true;
      });
  
      // Hide loader on page load
      window.addEventListener('load', function () {
        toggleLoader(false);
        form.querySelector('button[type="submit"]').disabled = false;
      });
    });
  </script>
  

  <script>
    function toggleFields() {
      const projectType = document.getElementById('projecttype').value;
      const reportDeliveryContainer = document.getElementById('reportDeliveryContainer');
      const bindingMethodContainer = document.getElementById('bindingMethodContainer');
      const quantityContainer = document.getElementById('quantityContainer');
      const pagesContainer = document.getElementById('pagesContainer');
      const paymentButton = document.getElementById('paymentButton');
      const calculateButton = document.getElementById('calculateButton')
      const totalPriceDiv = document.getElementById('totalPrice');
      const discountDiv = document.getElementById('discount');

  
      // Hide fields if Source Code is selected
      if (projectType === 'Source Code') {
        reportDeliveryContainer.style.display = 'none';
        bindingMethodContainer.style.display = 'none';
        quantityContainer.style.display = 'none';
        pagesContainer.style.display = 'none';
        totalPriceDiv.style.display = 'none';
        discountDiv.style.display = 'none';
        paymentButton.style.display = 'none';
        calculateButton.style.display = 'block'
        
      } else {
        reportDeliveryContainer.style.display = 'block';
        if (document.getElementById('reportWay').value === 'Hard Copy') {
          bindingMethodContainer.style.display = 'block';
        }
        quantityContainer.style.display = 'block';
        pagesContainer.style.display = 'block';
      }
    }
  
    function toggleBindingOptions() {
      const deliveryFormat = document.getElementById('reportWay').value;
      const bindingMethodContainer = document.getElementById('bindingMethodContainer');
  
      // Show/hide binding options based on delivery format
      if (deliveryFormat === 'Hard Copy') {
        bindingMethodContainer.style.display = 'block';
      } else {
        bindingMethodContainer.style.display = 'none';
      }
    }
  
    function hidePaymentDetails() {
      document.getElementById('totalPrice').style.display = 'none';
      document.getElementById('paymentButton').style.display = 'none';
      document.getElementById('discount').style.display = 'none';
      calculateButton.style.display = 'block'

    }
  
    function addChangeListeners() {
      const fieldsToWatch = [
        'projecttype',
        'reportWay',
        'quantity',
        'pages',
        'name',
        'number',
        'email',
        'address',
        'unique_code'
      ];
  
      fieldsToWatch.forEach(fieldId => {
        const field = document.getElementById(fieldId);
        if (field) {
          field.addEventListener('change', hidePaymentDetails);
        }
      });
    }
  
    document.addEventListener("DOMContentLoaded", function() {
      addChangeListeners();
  
      // Add event listener for calculate button
      // document.getElementById('calculateButton').addEventListener('click', calculateAmounts);
    });
  
    async function calculateAmounts() {
      // Check if required elements exist before accessing their values
      const projectTypeElem = document.getElementById('projecttype');
      const deliveryFormatElem = document.getElementById('reportWay');
      const quantityElem = document.getElementById('quantity');
      const pagesElem = document.getElementById('pages');
      const nameElem = document.getElementById('name');
      const numberElem = document.getElementById('number');
      const emailElem = document.getElementById('email');
      const addressElem = document.getElementById('address');
      const calculateButton = document.getElementById('calculateButton')
      const unique_codeElem = document.getElementById('unique_code')


  
      if (!projectTypeElem || !deliveryFormatElem || !quantityElem || !pagesElem || !nameElem || !numberElem || !emailElem || !addressElem) {
        alert("Some required fields are missing or not loaded yet.");
        return; // Stop execution if any element is missing
      }
  
      const projectType = projectTypeElem.value;
      const deliveryFormat = deliveryFormatElem.value;
      const unique_code = unique_codeElem.value;
      const quantity = parseInt(quantityElem.value);
      const pages = parseInt(pagesElem.value) || 0;
      const name = nameElem.value.trim();
      const number = numberElem.value.trim();
      const email = emailElem.value.trim();
      const address = addressElem.value.trim();
      
      let isValid = true;
  
      // Validate required fields
      if (!name) {
        alert("Please enter your full name.");
        isValid = false;
      } else if (!number || !/^\d{10}$/.test(number)) {
        alert("Please enter a valid 10-digit mobile number.");
        isValid = false;
      } else if (!email || !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
        alert("Please enter a valid email address.");
        isValid = false;
      } else if (!address) {
        alert("Please enter your delivery address.");
        isValid = false;
      } else if (projectType !== 'Source Code') {
        if (isNaN(quantity) || quantity <= 0) {
          alert("Please select a valid quantity.");
          isValid = false;
        } else if (isNaN(pages) || pages <= 0) {
          alert("Please enter a valid number of pages.");
          isValid = false;
        }
      }
  
      if (!isValid) {
        return; // Stop execution if validation fails
      }
  
      // If Source Code is selected, set the price directly
      let totalPrice = 0;
      let discount = 0;
      let originalPrice = 0;
      
      if (projectType === 'Source Code') {
        totalPrice = 500;
      } else {
        // Fetch per page charge from API
        const perPageCharge = await fetchPerPageCharge(deliveryFormat, projectType,unique_code);
        discount = perPageCharge.discount
        originalPrice = pages * quantity * perPageCharge.result[0].perPageCharge;;

        if (discount > 0) {
        totalPrice = originalPrice;
       const discountAmount = (totalPrice * discount) / 100;
       totalPrice -= discountAmount;
  }
  else{

        totalPrice = originalPrice;
  }
      }


      if (discount > 0) {

      
      // Show the calculated price and display the payment button
      document.getElementById('priceAmount').innerHTML = `<del>₹${originalPrice}</del> ₹${totalPrice}`;
      document.getElementById('discountPercentage').innerText = `Flat ${discount}% Applied`;
      document.getElementById('totalAmount').value = totalPrice;
      document.getElementById('discount').style.display = 'block';
      
      }
      else{
        document.getElementById('priceAmount').innerText = `₹${totalPrice}`;
      document.getElementById('totalAmount').value = totalPrice; 
      document.getElementById('discount').style.display = 'none';

      }


      // Show the total price and payment button
      calculateButton.style.display = 'none'
      document.getElementById('totalPrice').style.display = 'block';
      document.getElementById('paymentButton').style.display = 'block';
    }
  
    async function fetchPerPageCharge(deliveryFormat, projectType,unique_code) {
      // API call to fetch per page charge based on the selected options
      const response = await fetch(`/getPerPageCharge?deliveryFormat=${deliveryFormat}&projectType=${projectType}&unique_code=${unique_code}`);
      const data = await response.json();
      console.log('data comes',data)
      return data;
    }
  </script>
  



  <script>
    document.getElementById("paymentButton").addEventListener("click", async function () {
      // Collect form data
      const formData = new FormData();
      formData.append("project_type", document.getElementById("projecttype").value);
      formData.append("name", document.getElementById("name").value);
      formData.append("number", document.getElementById("number").value);
      formData.append("email", document.getElementById("email").value);
      formData.append("topic", document.querySelector("input[name='topic']").value);
      formData.append("reportWay", document.getElementById("reportWay").value);
      formData.append("bindingMethod", document.getElementById("bindingMethod").value);
      formData.append("quantity", document.getElementById("quantity").value);
      formData.append("pages", document.getElementById("pages").value);
      formData.append("technology", document.querySelector("input[name='technology']").value);
      formData.append("address", document.getElementById("address").value);
      formData.append("description", document.querySelector("input[name='description']").value);
      formData.append("amount", document.getElementById("totalAmount").value);
      formData.append("unique_code", document.querySelector("input[name='unique_code']").value);
  
      // Check if the user uploaded a file
      const fileInput = document.getElementById("FileInput");
      if (fileInput.files.length > 0) {
        formData.append("references", fileInput.files[0]);
      }
  
      // Display loader or disable button to prevent multiple submissions
      document.getElementById("paymentButton").innerText = "Processing...";
      document.getElementById("paymentButton").disabled = true;
  
      try {
        // Submit the form data
        const response = await fetch("/shopkeeper/technical/order/insert", {
          method: "POST",
          body: formData,
        });
  
        const result = await response.json();
        if (response.ok) {
          // Optionally redirect to another page
          window.location.href = "/shopkeeper/make/payment";
        } else {
          alert("Failed to place order: " + result.message);
        }
      } catch (error) {
        console.error("Error submitting order:", error);
        alert("An error occurred while placing the order. Please try again.");
      } finally {
        // Re-enable the button
        document.getElementById("paymentButton").innerText = "Make Payment";
        document.getElementById("paymentButton").disabled = false;
      }
    });
  </script>
  

<!-- Mirrored from dreamslms.dreamguystech.com/html/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2023 14:05:52 GMT -->
</html>