<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard - Programming Language</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <br><br><br>
  <button type="button" class="btn btn-primary show">Show</button>
  <button type="button" class="btn btn-default back" style="float:right">Back</button>
  <button type="button" class="btn btn-default back1" style="float:right">Back</button>
  <div id="result"></div>
<div class="container insertdiv">


<br><br><br>
    <div class="form-group">
      <label for="email">Programming Language</label>
      <input type="text" class="form-control" id="name" placeholder="Programming Language">
    </div>
    <div class="form-group">
      <label for="pwd">Description 1:</label>
      <textarea id="description" class="form-control" placeholder="Description"  cols="30" rows="10"></textarea>
    </div>

    <div class="form-group">
      <label for="pwd">Description 2:</label>
      <textarea id="description2" class="form-control" placeholder="Description2"  cols="30" rows="10"></textarea>
    </div>

    <div class="form-group">
      <label for="pwd">Description 3:</label>
      <textarea id="description3" class="form-control" placeholder="Description3"  cols="30" rows="10"></textarea>
    </div>

    <div class="form-group">
      <label for="pwd">Advantage</label>
      <textarea id="description4" class="form-control" placeholder="Advantage"  cols="30" rows="10"></textarea>
    </div>
    

    
    <div class="form-group">
      <label for="pwd">Where to use</label>
      <textarea id="description5" class="form-control" placeholder="Where tou se"  cols="30" rows="10"></textarea>
    </div>

    <button type="button" class="btn btn-default submit">Submit</button>
  
</div>



<div class="container editdiv">


  <br><br><br>
  <div class="form-group">
    <label for="email">Programming Language ID</label>
    <input type="text" class="form-control" id="pid" placeholder="Programming Language" readonly>
  </div>
      <div class="form-group">
        <label for="email">Programming Language</label>
        <input type="text" class="form-control" id="pname" placeholder="Programming Language">
      </div>
      <div class="form-group">
        <label for="pwd">Description:</label>
        <textarea id="pdescription" class="form-control" placeholder="Description"  cols="30" rows="10"></textarea>
      </div>
  
      <div class="form-group">
        <label for="pwd">Description 2:</label>
        <textarea id="pdescription2" class="form-control" placeholder="Description2"  cols="30" rows="10"></textarea>
      </div>
  
      <div class="form-group">
        <label for="pwd">Description 3:</label>
        <textarea id="pdescription3" class="form-control" placeholder="Description3"  cols="30" rows="10"></textarea>
      </div>
  
      <div class="form-group">
        <label for="pwd">Advantage</label>
        <textarea id="pdescription4" class="form-control" placeholder="Advantage"  cols="30" rows="10"></textarea>
      </div>
      
  
      
      <div class="form-group">
        <label for="pwd">Where to use</label>
        <textarea id="pdescription5" class="form-control" placeholder="Where to use"  cols="30" rows="10"></textarea>
      </div>
  


      <button type="button" class="btn btn-default update">Update</button>
  </div>


</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/programming_language.js"></script>
</html>
