<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>
<script async src="//pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "pub-7230981653683251",
enable_page_level_ads: true
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150389922-1');
</script>
<script data-ad-client="ca-pub-7230981653683251" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <meta name="abstract" content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <meta name=keywords content="project file, top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <meta property=og:title content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <meta property=og:type content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <meta property=og:url content="http://www.filemakr.com"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content"These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="These refund and cancellation outline the rules and regulations for the use of Filemakr's Website, located at https://www.filemakr.com."/>
   <link rel=canonical href="http://www.filemakr.com/terms-and-conditions">
    <title>Refund and Cancellation Policy — Filemakr </title>




    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Startup",
        "url": "http://www.filemakr.com",
        "name": "Build Major & Minor Project File.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-831-933-9945",
          "contactType": "Enginerring service"
        }
      }
      </script> 

<!-- Favicons -->
<link href="/images/filemakr-project-file-creator-favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/a/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" async>

  <!-- /a/libraries CSS Files -->
  <link href="/all.css" rel="preload" as="style" async>
  <link href="/a/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" async>
  <link href="/a/lib/ionicons/css/ionicons.min.css" rel="preload" as="style" async>
  <link href="/a/lib/lightbox/css/lightbox.min.css" rel="preload" as="style" async>

  <!-- Main Stylesheet File -->
  <link href="/a/css/style.css" rel="stylesheet" async>



</head>

<body>
  
    <%include ./navbar.ejs %>  

  <main id="main">





    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

       

        <div class="row">

         
        </div>

      </div>
    </section><!-- #services -->
<br>
    <section id="faq">
        <div class="container">
          <header class="section-header">
            <h4>Refund and Cancellation Policy</h4>
            <p></p>
          </header>
  
          <span style="font-size:18px; color:black;font-family:'Times New Roman', Times, serif;line-height: 2.5">
         
All Sales are final and no refund will be issued.<br/>  

We are service provider. Through our website college students can Download Project Report and Source Code ,We do not provide any refund, return and cancellation once the project report and source code is downloaded.
<br><br>

<h4>Questions</h4>

If you have any questions concerning our return policy , please contact us at:
<br>
<p>8319339945<br/>
    filemakr@gmail.com
</p>


  
      </section><!-- #faq -->
  
    

  
    
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <%include ./footer.ejs %>  
  
    
  
</body>

<script>

$(document).ready(function(){
	$('a[href="#search"]').on('click', function(event) {                    
		$('#search').addClass('open');
		$('#search > form > input[type="search"]').focus();
	});            
	$('#search, #search button.close').on('click keyup', function(event) {
		if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
			$(this).removeClass('open');
		}
	});            
});

</script>

</html>
