<form id="nonseamless" method="post" name="redirect"
    action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction" /> <input type="hidden"
    id="encRequest" name="encRequest" value="' + <%=enccode%> + '"> <input type="hidden" name="access_code"
    id="access_code" value="' + <%=accesscode%> + '"> 

<button type="submit"><%=accesscode%></button>
</form>

    