<!doctype html>
<html lang=en>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150389922-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150389922-1');
</script>

<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name=description content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>

<meta name=robots content="all,follow"/>
<meta name=googlebot content="index, follow"/>
<meta name=classification content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
<link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
<meta name=distribution content=Global />
<meta name=author content="http://www.filemakr.com"/>
<meta name=Language content=English />
<meta name=rating content=general />
<meta name=owner content=FileMakr. />
<meta http-equiv=refresh content=300>
<meta name=document-type content=public />
<meta name=revisit-after content=daily />
<meta name=country content=India />
<meta name=DC.title content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
<meta property=og:title content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
<meta property=og:type content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
<meta property=og:url content="http://www.filemakr.com"/>
<meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
<meta property=og:site_name content="http://www.filemakr.com"/>
<meta property=og:description content="FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files."/>
<meta property=og:locale content="en IN"/>
<link rel=canonical href="http://www.filemakr.com">
<link rel=stylesheet href="assets/css/bootstrap.min.css">
<link rel=stylesheet href="assets/fonts/themify/themify-icons.css">
<link rel=stylesheet href="assets/css/all.css">
<link rel=stylesheet href="assets/css/style.css">
<link rel=stylesheet href="assets/css/responsive.css">
   <!-- External CSS libraries -->
   <link type="text/css" rel="stylesheet" href="/login/style.css">
<title>FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.</title>
<style>


    #fixed-form-container{
        position: fixed;
        bottom: 0px;
        left: 3%;
        width: 94%;
        text-align: center;
        margin: 0;
    
    }
    
    #fixed-form-container .button:before { 
       content: "+ ";
    }
    
    #fixed-form-container .expanded:before { 
        content: "- ";
    }
    
    #fixed-form-container .button { 
      font-size:1.1em; 
        cursor: pointer;
        margin-left: auto;
      margin-right: auto;
        border: 2px solid #e25454;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 0px 0px; 
        padding: 5px 20px 5px 20px;
        background-color: #e25454;
        color: #fff;
        display: inline-block;
        text-align: center;
        text-decoration: none;
      -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
    }
    
    #fixed-form-container .body{
        background-color: #fff; 
        border-radius: 5px;
        margin-bottom: 16px;
        padding: 10px; 
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    }
    
    @media only screen and (min-width:768px){
        #fixed-form-container .button{
           margin: 0;
    
        }
        #fixed-form-container {
            left: 20px;
            width: 390px;
            text-align: left;
        }
    
        #fixed-form-container .body{
            padding: 30px;
            border-radius: 0px 5px 5px 5px;
        }
    }
    
    
    @media only screen and (max-width:414px){
        #fixed-form-container .button{
           margin: 0;
    
        }
        #fixed-form-container {
            left: 21px;
            width: 390px;
            text-align: right;
        }
    
        #fixed-form-container .body{
            padding: 30px;
            border-radius: 0px 5px 5px 5px;
        }
    }
    
    
    
    @media only screen and (max-width:360px){
        #fixed-form-container .button{
           margin: 0;
    
        }
        #fixed-form-container {
            left:-70px;
            width: 390px;
            text-align: right;
        }
    
        #fixed-form-container .body{
            padding: 30px;
            border-radius: 0px 5px 5px 5px;
        }
    }
    
    
    @media only screen and (max-width:375px){
        #fixed-form-container .button{
           margin: 0;
    
        }
        #fixed-form-container {
            left:-15px;
            width: 390px;
            text-align: right;
        }
    
        #fixed-form-container .body{
            padding: 30px;
            border-radius: 0px 5px 5px 5px;
        }
    }
    
    
    @media only screen and (max-width:330px){
        #fixed-form-container .button{
           margin: 0;
    
        }
        #fixed-form-container {
            left:-70px;
            width: 390px;
            text-align: right;
        }
    
        #fixed-form-container .body{
            padding: 30px;
            border-radius: 0px 5px 5px 5px;
        }
    }
    
    </style>

</head>
<body class=top-header>
<div class="logo-bar d-none d-md-block d-lg-block bg-light">
<div class=container>
<div class=row>
<div class=col-lg-2>
    <div class="logo d-none d-lg-block">
        <a class="navbar-brand js-scroll-trigger" href="index.html">
           <h2><img src="/images/filemakr-project-file-creator-logo.png" alt="filemakr-project-file-creator" style="width:80px"></h2>
        </a>
    </div></div>
</div>
</div>
</div>
<div class=main-navigation id=mainmenu-area>
<div class=container>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav navbar-togglable">
<a class="navbar-brand d-lg-none d-block" href="">
<h4><img src="/images/filemakr-project-file-creator-logo.png" alt="filemakr-project-file-creator" style="width:50px"></h4>
</a>
<button class=navbar-toggler type=button data-toggle=collapse data-target="#navbarCollapse" aria-controls=navbarCollapse aria-expanded=false aria-label="Toggle navigation">
<span class="fa fa-bars"></span>
</button>
<div class="collapse navbar-collapse" id=navbarCollapse>
<ul class="navbar-nav ">
<li class="nav-item ">
<a href='/' class="nav-link js-scroll-trigger">
Home
</a>
</li>
<li class="nav-item ">
<a href='/all-projects' class="nav-link js-scroll-trigger">
Projects
</a>
</li>
<li class="nav-item ">
<a href=contact.html class=nav-link>
Contact
</a>
</li>
</ul>
<ul class="ml-lg-auto list-unstyled m-0">
<li><a href="#" class="btn btn-white btn-circled">Login/Signup</a></li>
</ul>
</div>
</nav></div>
</div>


    
    <!-- Web services
    ================================================== -->
    <div class="page_loader"></div>

    <!-- Login 9 start -->
    <div class="login-9">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-section">
                        <div class="login-inner-form">
                                <div class="form-group form-box">
                                    <input type="number" name="number" class="input-text" placeholder="Mobile Number">
                                    <i class="icon-mail-2"></i>
                                </div>
                                <div class="form-group mb-0">
                                            <button type="button" class="btn-md btn-theme btn-block">Get OTP</button>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER
    ================================================== -->
    <footer class="section " id=footer>
        <div class="overlay footer-overlay"></div>
        <div class=container>
        <div class="row justify-content-start">
        <div class="col-lg-4 col-sm-12">
        <div class=footer-widget>
        <a href="#" class="footer-brand text-white">
        FileMakr
        </a>
        <p>The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.</p>
        </div>
        </div>
        <div class="col-lg-3 ml-lg-auto col-sm-12">
        <div class=footer-widget>
        <h3>Account</h3>
        <ul class="footer-links ">
        <li>
        <a href="#">
        Terms and conditions
        </a>
        </li>
        <li>
        <a href="#">
        Privacy policy
        </a>
        </li>
        </ul>
        </div>
        </div>
        <div class="col-lg-2 col-sm-6">
        <div class=footer-widget>
        <h3>About</h3>
        <ul class="footer-links ">
        <li>
        <a href="#">
        Services
        </a>
        </li>
        <li>
        <a href="#">
        About Us
        </a>
        </li>
        <li>
        <a href="#">
        Contact
        </a>
        </li>
        </ul>
        </div>
        </div>
        <div class="col-lg-2 col-sm-6">
        <div class=footer-widget>
        <h3>Socials</h3>
        <ul class="list-unstyled footer-links">
        <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
        <li>
        <a href="#"><i class="fab fa-twitter"></i>Twitter
        </a></li>
        </div>
        </div>
        </div>
        <div class="row text-right pt-5">
        <div class=col-lg-12>
        <p class=footer>
        &copy; Copyright <a href="/">FileMark</a> All rights reserved.
        </p>
        </div>
        </div>
        </div>
        </footer>
        <a class="scroll-to-top js-scroll-trigger" href=.top-header>
        <i class="fa fa-angle-up"></i>
        </a>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>
          
<script>
$("#fixed-form-container .body").hide();
$("#fixed-form-container .button").click(function () {
        $(this).next("#fixed-form-container div").slideToggle(400);
        $(this).toggleClass("expanded");
    });

</script>
</body>

</html>