<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamguystech.com/html/course-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Jan 2023 14:05:32 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">



<meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <meta name="abstract" content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <meta name=keywords content="project file,<% for(i=0;i<result.length;i++){ %> <%=result[i].name%>, <%}%> top 100 projects"/>
  
    <meta name=robots content="all,follow"/>
    <meta name=googlebot content="index, follow"/>
    <meta name=classification content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <link rel="shortcut icon" type="images/x-icon" href="/images/filemakr-project-file-creator-favicon.png" style="width:80px;" />
    <meta name=distribution content=Global />
    <meta name=author content="http://www.filemakr.com"/>
    <meta name=Language content=English />
    <meta name=rating content=general />
    <meta name=owner content=FileMakr />
    <meta http-equiv=refresh content=300>
    <meta name=document-type content=public />
    <meta name=revisit-after content=daily />
    <meta name=country content=India />
    <meta name=DC.title content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <meta property=og:title content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <meta property=og:type content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <meta property=og:url content="https://www.filemakr.com/project-ideas"/>
    <meta property=og:image content="http://www.filemakr.com/images/filemakr-project-file-creator-favicon.png" style="width:80px;"/>
    <meta property=og:site_name content="http://www.filemakr.com"/>
    <meta property=og:description content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
    <meta property=og:locale content="en IN"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta property="og:site_name" content="Filemakr"/>
    <meta property="og:phone_number" content="+91-8319339945"/>
    <meta property="og:email" content="filemakr@gmail.com"/>
    <meta property="og:country-name" content="India"/>
    <meta property="og:description" content="Download Readymade Major & Minor Project File of Smart Attendance , E-commerce ,  Payroll Management , Online Quiz System, ERP College Management , Library Management Systemand so on.."/>
   <link rel=canonical href="https://www.filemakr.com/project-ideas">
    <title>Project Ideas — Filemakr</title>



    
    <script type='application/ld+json'> 
      {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "Filemakr",
        "url": "https://www.filemakr.com/",
        "logo": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "image": "https://filemakr.com/images/filemakr-project-file-creator-favicon.png",
        "description": "FileMakr - The #1 Online Major & Minor Project file Generator! we've helped students owners create easy-to-read, highly effective, custom project files.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Lohiya Bazar , Morena ( M.P. )",
          "addressLocality": "Morena",
          "addressRegion": "Madhya Pradesh",
          "postalCode": "476001",
          "addressCountry": "India"
        },
        "hasMap": "https://maps.google.com/maps?cid=11640350780477821709",
      "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "00:00",
          "closes": "23:59"
        },
        "sameAs": [
          "https://www.facebook.com/FileMakr",
          "https://twitter.com/FileMakr",
          "https://instagram.com/filemakr/",
          "https://www.filemakr.com",
          https://www.linkedin.com/company/filemakr/

        ]
      },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+918319339945",
          "contactType": "general"
        }
      }
       </script>


       <link rel="shortcut icon" type="image/x-icon" href="/images/filemakr-project-file-creator-favicon.png">


<link rel="stylesheet" href="/design/css/bootstrap.min.css">

<link rel="stylesheet" href="/design/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/design/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/design/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="/design/plugins/feather/feather.css">

<link rel="stylesheet" href="/design/css/style.css">
</head>
<body>

<div class="main-wrapper">

  <%include ../header1.ejs %>  



<div class="breadcrumb-bar">
<div class="container">
<div class="row">
<div class="col-md-12 col-12">
<div class="breadcrumb-list">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Project Ideas</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<section class="course-content">
<div class="container">
<div class="row">
<div class="col-lg-12">

<div class="showing-list">
<div class="row">
<div class="col-lg-6">
<div class="d-flex align-items-center">

<div class="show-result">
<h1>Project Ideas</h1>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="show-filter add-course-info">
<form action="#">
<div class="row gx-2 align-items-center">
<div class="col-md-6 col-item">

</div>
<div class="col-md-6 col-lg-6 col-item">
  <div class=" search-group">
    <i class="feather-search"></i>
    <input type="text" class="form-control"  id="Search" onkeyup="myFunction()"    placeholder="Search Topic">
    </div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>

<div class="row" id ="main_divs">
  <% for(i=0;i<result.length;i++){%>

    <div class="col-lg-3 target col-md-6">
      <div class="course-box course-design d-flex">
      <div class="product">
      
      <div class="product-content">
        
      <div class="course-group d-flex">
      <div class="course-group-img d-flex">
      <div class="course-name">
      <h4><a href="/final-year-project-report-<%=result[i].seo_name%>"><%=result[i].name%></a></h4>
      </div>
      </div>
     
      </div>
      <p class="description"><%=result[i].short_description%></p>
     
      </div>
      </div>
      </div>
      </div>

<% } %>
</div>



</div>

</div>
</div>
</section>


<script>
  function myFunction() {
  var input = document.getElementById("Search");
  var filter = input.value.toLowerCase();
  var nodes = document.getElementsByClassName('target');

  for (i = 0; i < nodes.length; i++) {
    if (nodes[i].innerText.toLowerCase().includes(filter)) {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}
</script>

<%include ../footer.ejs %>  
