
  <!-- JS here -->
  <script src="/subdomain_manisha/assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/subdomain_manisha/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/subdomain_manisha/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/subdomain_manisha/assets/js/ajax-form.js"></script>
  <script src="/subdomain_manisha/assets/js/clipboard.min.js"></script>
  <script src="/subdomain_manisha/assets/js/slick.min.js"></script>
  <script src="/subdomain_manisha/assets/js/script.js"></script>

  <script>
    // Theme color control js
    $(document).ready(function () {
    
        // Force dark mode
        $('body').addClass('dark-theme');
        localStorage.setItem('darkMode', 'true'); // Ensure dark mode is always saved
    
        $('#page-content').fadeIn(0);
    
        // Remove theme toggle functionality
        // $('.theme-control-btn').remove();
    });
</script>


</body>