<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Manisha Creations - Crafting Visual Stories That Inspire</title>
  <meta name="description" content="Transforming ideas into visually stunning designs and engaging videos. With 6+ years of experience, I bring creativity to life for brands and individuals across the globe.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="/subdomain_manisha/assets/img/favicon.svg">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="/subdomain_manisha/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/subdomain_manisha/assets/fontawsome/css/all.min.css">
  <link rel="stylesheet" href="/subdomain_manisha/assets/fontawsome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/subdomain_manisha/assets/css/slick.css">
  <link rel="stylesheet" href="/subdomain_manisha/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/subdomain_manisha/assets/css/style.css">
  <link rel="stylesheet" href="/subdomain_manisha/assets/css/responsive.css">
</head>

<body>
  <div id="page-content">
    <!-- header part start -->
    <header class="header-area">
      <nav class="navbar">
        <div class="container">
          <div class="menu-container">
            <div class="logo">
              <a class="navbar-brand me-0" href="index.html">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 1.5C0 1.10218 0.158035 0.720644 0.43934 0.43934C0.720644 0.158035 1.10218 0 1.5 0L9 0C9.39782 0 9.77936 0.158035 10.0607 0.43934C10.342 0.720644 10.5 1.10218 10.5 1.5V22.5C10.5 22.8978 10.342 23.2794 10.0607 23.5607C9.77936 23.842 9.39782 24 9 24H1.5C1.10218 24 0.720644 23.842 0.43934 23.5607C0.158035 23.2794 0 22.8978 0 22.5V1.5ZM13.5 1.5C13.5 1.10218 13.658 0.720644 13.9393 0.43934C14.2206 0.158035 14.6022 0 15 0L22.5 0C22.8978 0 23.2794 0.158035 23.5607 0.43934C23.842 0.720644 24 1.10218 24 1.5V9C24 9.39782 23.842 9.77936 23.5607 10.0607C23.2794 10.342 22.8978 10.5 22.5 10.5H15C14.6022 10.5 14.2206 10.342 13.9393 10.0607C13.658 9.77936 13.5 9.39782 13.5 9V1.5ZM13.5 15C13.5 14.6022 13.658 14.2206 13.9393 13.9393C14.2206 13.658 14.6022 13.5 15 13.5H22.5C22.8978 13.5 23.2794 13.658 23.5607 13.9393C23.842 14.2206 24 14.6022 24 15V22.5C24 22.8978 23.842 23.2794 23.5607 23.5607C23.2794 23.842 22.8978 24 22.5 24H15C14.6022 24 14.2206 23.842 13.9393 23.5607C13.658 23.2794 13.5 22.8978 13.5 22.5V15Z"
                    class="logo-icon" />
                </svg>
                <span>Manisha <span class="primary"> Creations</span></span>
              </a>
            </div>
            <div class="navbar-main d-flex flex-grow-1">
              <div class="logo inner-logo d-block d-xl-none">
                <a class="navbar-brand me-0" href="index.html">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0 1.5C0 1.10218 0.158035 0.720644 0.43934 0.43934C0.720644 0.158035 1.10218 0 1.5 0L9 0C9.39782 0 9.77936 0.158035 10.0607 0.43934C10.342 0.720644 10.5 1.10218 10.5 1.5V22.5C10.5 22.8978 10.342 23.2794 10.0607 23.5607C9.77936 23.842 9.39782 24 9 24H1.5C1.10218 24 0.720644 23.842 0.43934 23.5607C0.158035 23.2794 0 22.8978 0 22.5V1.5ZM13.5 1.5C13.5 1.10218 13.658 0.720644 13.9393 0.43934C14.2206 0.158035 14.6022 0 15 0L22.5 0C22.8978 0 23.2794 0.158035 23.5607 0.43934C23.842 0.720644 24 1.10218 24 1.5V9C24 9.39782 23.842 9.77936 23.5607 10.0607C23.2794 10.342 22.8978 10.5 22.5 10.5H15C14.6022 10.5 14.2206 10.342 13.9393 10.0607C13.658 9.77936 13.5 9.39782 13.5 9V1.5ZM13.5 15C13.5 14.6022 13.658 14.2206 13.9393 13.9393C14.2206 13.658 14.6022 13.5 15 13.5H22.5C22.8978 13.5 23.2794 13.658 23.5607 13.9393C23.842 14.2206 24 14.6022 24 15V22.5C24 22.8978 23.842 23.2794 23.5607 23.5607C23.2794 23.842 22.8978 24 22.5 24H15C14.6022 24 14.2206 23.842 13.9393 23.5607C13.658 23.2794 13.5 22.8978 13.5 22.5V15Z"
                      class="logo-icon" />
                  </svg>
                  <span>Manisha <span class="primary"> Creations</span></span>
                </a>
              </div>
              <ul class="navbar-info mx-auto">
                <li class="nav-item">
                    <a class="nav-link <%= page === 'Home' ? 'active' : '' %>" href="/">
                    <svg class="nav-icon" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.475 4.92481L9.03083 1.46814C8.64082 1.16473 8.1608 1 7.66667 1C7.17254 1 6.69251 1.16473 6.3025 1.46814L1.8575 4.92481C1.59037 5.13254 1.37424 5.39858 1.22563 5.7026C1.07701 6.00662 0.99984 6.34058 1 6.67897V12.679C1 13.121 1.17559 13.5449 1.48816 13.8575C1.80072 14.17 2.22464 14.3456 2.66667 14.3456H12.6667C13.1087 14.3456 13.5326 14.17 13.8452 13.8575C14.1577 13.5449 14.3333 13.121 14.3333 12.679V6.67897C14.3333 5.99314 14.0167 5.34564 13.475 4.92481Z"
                        stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M10.9753 10.1665C9.13359 11.2773 6.14859 11.2773 4.30859 10.1665" stroke-width="1.4"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <span>Home</span>
                  </a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link <%= page === 'Services' ? 'active' : '' %>" href="/services">

                    <svg class="nav-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99967 1.3335L1.33301 4.66683L7.99967 8.00016L14.6663 4.66683L7.99967 1.3335Z"
                        stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1.33301 8L7.99967 11.3333L14.6663 8" stroke-width="1.4" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M1.33301 11.3335L7.99967 14.6668L14.6663 11.3335" stroke-width="1.4"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Services
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'Works' ? 'active' : '' %>" href="/works">
                    <svg class="nav-icon" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M2.00326 3.99733L7.95159 1.40649C8.04974 1.36442 8.15533 1.34243 8.26212 1.34181C8.3689 1.34119 8.47473 1.36196 8.57337 1.40289C8.67201 1.44382 8.76145 1.50408 8.83642 1.58013C8.9114 1.65617 8.97039 1.74646 9.00992 1.84566L13.1133 11.764C13.1985 11.9651 13.2014 12.1917 13.1213 12.3949C13.0412 12.5982 12.8845 12.7618 12.6849 12.8507L6.73742 15.4415C6.63922 15.4837 6.53356 15.5058 6.42668 15.5065C6.3198 15.5072 6.21387 15.4864 6.11514 15.4455C6.0164 15.4046 5.92688 15.3442 5.85184 15.2681C5.7768 15.192 5.71778 15.1016 5.67826 15.0023L1.57492 5.08316C1.48963 4.88204 1.48673 4.65546 1.56684 4.45222C1.64696 4.24898 1.80367 4.08616 2.00326 3.99733Z"
                        stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M11.5 1.3335H12.3333C12.5543 1.3335 12.7663 1.42129 12.9226 1.57757C13.0789 1.73385 13.1667 1.94582 13.1667 2.16683V5.0835"
                        stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M15.6663 3C15.8863 3.09333 16.0997 3.18083 16.3063 3.2625C16.5098 3.34882 16.6706 3.51241 16.7534 3.71729C16.8362 3.92217 16.8343 4.15155 16.748 4.355L14.833 8.83334"
                        stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Works
                  </a>
                </li>
               
               
              </ul>
              <div class="header-right-info d-flex align-items-center">
              
                <a href="https://wa.me/918877152035" class="lets-talk-btn">
                  Let's Talk
                  <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 11.6665V6.6665H12.5" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M17.5 6.6665L10 14.1665L2.5 6.6665" stroke="white" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="mobile-menu-overlay d-block d-lg-none"></div>
            <div class="mobile-menu-control-bar d-block d-xl-none">
              <button class="mobile-menu-control-bar">
                <i class="fas fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- header part end -->


   