<%include ./header.ejs %>  

  
    <!-- main area part start -->
    <main>
      <section class="home-area">
        <div class="container">
          <div class="row g-4">
            <%include ./profilecard.ejs %>  

            <div class="col-xl-4">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body work-experiance-card">
                      <h3 class="card-title">Work Experience</h3>
                      <div class="work-experiance-main">
                        <ul class="work-experiance-slider list-unstyled">
                       
                         
                          <li>
                            <div class="date">
                              <p>2022-2025</p>
                            </div>
                            <div class="info">
                             
                              <div class="text">
                                <h4 class="title">Freelancing
                                </h4>
                                <h6 class="subtitle">Full-Time Freelancer
  
                                </h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="date">
                              <p>2020-2021</p>
                            </div>
                            <div class="info">
                             
                              <div class="text">
                                <h4 class="title">Axes Geeks
                                </h4>
                                <h6 class="subtitle">Senior Graphic Designer 
                                </h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="date">
                              <p>2019-2020</p>
                            </div>
                            <div class="info">
                            
                              <div class="text">
                                <h4 class="title">Skillvi</h4>
                                <h6 class="subtitle">Graphic Designer</h6>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <ul class="work-experiance-slider list-unstyled">
                       
                         
                          <li>
                            <div class="date">
                              <p>2022-2025</p>
                            </div>
                            <div class="info">
                             
                              <div class="text">
                                <h4 class="title">Freelancing
                                </h4>
                                <h6 class="subtitle">Full-Time Freelancer
  
                                </h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="date">
                              <p>2020-2021</p>
                            </div>
                            <div class="info">
                             
                              <div class="text">
                                <h4 class="title">Axes Geeks
                                </h4>
                                <h6 class="subtitle">Senior Graphic Designer 
                                </h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="date">
                              <p>2019-2020</p>
                            </div>
                            <div class="info">
                            
                              <div class="text">
                                <h4 class="title">Skillvi</h4>
                                <h6 class="subtitle">Graphic Designer</h6>
                              </div>
                            </div>
                          </li>
                        </ul>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="card expertise-card">
                    <div class="card-body">
                      <h3 class="card-title">My Expert Area
                      </h3>
                      <div class="expertise-main mt-24">
                        <div class="row g-3">
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="/subdomain_manisha/assets/img/icons/illustrator.svg" style="width: 40px;height: 40px;" alt="Illustrator">
                              </div>
                              <div class="text">
                                <h4 class="title">Illustrator</h4>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="/subdomain_manisha/assets/img/icons/coreldraw.svg" style="width: 40px;height: 40px;" alt="CorelDRAW">
                              </div>
                              <div class="text">
                                <h4 class="title">CorelDRAW</h4>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="/subdomain_manisha/assets/img/icons/primierpro.svg" style="width: 40px;height: 40px;" alt="Premiere Pro">
                              </div>
                              <div class="text">
                                <h4 class="title">Premiere Pro</h4>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="/subdomain_manisha/assets/img/icons/afterEffect.svg" style="width: 40px;height: 40px;" alt="After Effect">
                              </div>
                              <div class="text">
                                <h4 class="title">After Effect</h4>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="/subdomain_manisha/assets/img/icons/lightroom.svg" style="width: 40px;height: 40px;" alt="webflow">
                              </div>
                              <div class="text">
                                <h4 class="title">Lightroom </h4>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-6 col-6">
                            <div class="expertise-item">
                              <div class="image text-center">
                                <img src="/subdomain_manisha/assets/img/icons/figma1.svg" style="width: 40px;height: 40px;" alt="zeplin">
                              </div>
                              <div class="text">
                                <h4 class="title">Figma</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card card-projects">
                <div class="card-body">
  
                  <h3 class="card-title">Recent Projects <a class="link-btn" href="/works">All Projects
                      <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.16699 10H15.8337" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M10.833 15L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M10.833 5L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
  
                    </a></h3>
                  <div class="projects-main mt-24">
                    <div class="row g-4 parent-container">
                      <div class="col-lg-12">
                        <div class="project-item">
                          <div class="image">
                            <img src="https://res.cloudinary.com/dr5dofa3x/image/upload/v1743240514/Thumbnail/xoeojgmutaavc53ao0hw.jpg" alt="project-1" class="img-fluid w-100">
                            <a href="https://res.cloudinary.com/dr5dofa3x/image/upload/v1743240514/Thumbnail/xoeojgmutaavc53ao0hw.jpg"
                              class="gallery-popup full-image-preview parent-container">
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                              </svg>
                            </a>
                            <div class="info">
                              <span class="category">Logo Design</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="project-item">
                          <div class="image">
                            <img src="https://res.cloudinary.com/dr5dofa3x/image/upload/v1743238934/BANNERS/ykqjk24ustrjnklz6cty.jpg" alt="project-2" class="img-fluid w-100">
                            <a href="https://res.cloudinary.com/dr5dofa3x/image/upload/v1743238934/BANNERS/ykqjk24ustrjnklz6cty.jpg"
                              class="gallery-popup full-image-preview parent-container">
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                <path d="M10 4.167v11.666M4.167 10h11.666"></path>
                              </svg>
                            </a>
                            <div class="info">
                              <span class="category">Banners Design</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services-area mt-24">
            <div class="row g-4">
              <div class="col-xl-8">
                <div class="card services-card">
                  <div class="card-body">
                    <h3 class="card-title">Services I Offered
                      <a class="link-btn" href="/services"> See All Services
                        <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.16699 10H15.8337" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M10.833 15L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M10.833 5L15.833 10" stroke="#4770FF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
  
                      </a></h3>
                    <div class="services-main mt-24">
                      <div class="row g-4">
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/graphics.png" style="width: 80px;height: 80px;" alt="ui-ux">
                            </div>
                          <a href="/works">

                            <div class="text">
                              <h3 class="title">Graphic Design</h3>
                            </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/videoEditing.png" style="width: 80px;height: 80px;" alt="app">
                            </div>
                          <a href="/works">

                            <div class="text">
                              <h3 class="title">Video Editing</h3>
                            </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/prdocut.png" style="width: 80px;height: 80px;" alt="prd-design">
                            </div>
                          <a href="/works">

                            <div class="text">
                              <h3 class="title">Packaging Design </h3>
                            </div>
                          </a>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/2d.png" style="width: 80px;height: 80px;" alt="branding">
                            </div>
                          <a href="/works">

                            <div class="text">
                              <h3 class="title">2D & 3D Animation</h3>
                            </div>
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="card lets-talk-together-card">
                  <div class="card-body">
                    <div class="scrolling-info">
                      <div class="slider-item">
                        <p>🚀 Available for Hire | Transforming Ideas into Stunning Visuals 🎨 | Let's Create Something Amazing! 🚀</p>

                      </div>
                    </div>
                    <h3 class="card-title">Let's👋
                      <span class="d-block">Work Together</span>
                    </h3>
                    <a class="link-btn" href="tel:8877152035"> Let's Talk
                      <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 11.6665V6.6665H12.5" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M17.5 6.6665L10 14.1665L2.5 6.6665" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- background shape area start -->
      <div class="background-shapes">
        <div class="shape-1 common-shape">
          <img src="/subdomain_manisha/assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="shape-2 common-shape">
          <img src="/subdomain_manisha/assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="threed-shape-1 move-with-cursor" data-value="1">
          <img src="/subdomain_manisha/assets/img/bg/object-3d-1.png" alt="object-3d-1">
        </div>
        <div class="threed-shape-2 move-with-cursor" data-value="1">
          <img src="/subdomain_manisha/assets/img/bg/object-3d-2.png" alt="object-3d-2">
        </div>
      </div>
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->
  
    <!-- footer part start -->
  
    <!-- footer part end -->
  </div>

  <%include ./footer.ejs %>  


<!-- Mirrored from marveltheme.com/tf/html/bentofolio-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 12:55:38 GMT -->
</html>