<%include ./header.ejs %>  


    <!-- main area part start -->
    <main>

      <section class="content-box-area mt-4">
        <div class="container">
          <div class="row g-4">
            <%include ./profilecard.ejs %>  

            <div class="col-xl-8">
              <div class="card content-box-card">
                <div class="card-body">
                  <div class="top-info">
                    <div class="text">
                      <h1 class="main-title">Services I <span>Offered</span></h1>
                      <p>Transforming Ideas into Innovative Reality, Elevate Your Vision with my Expert <b>Graphic Design & Video Editing</b> Services!</p>
                    </div>
                    <div class="available-btn">
                      <span><i class="fas fa-circle"></i> Available For Hire</span>
                    </div>
                  </div>
                  <div class="services">
                    <div class="row g-4">
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/graphics.png" style="width: 80px;height: 80px;" alt="ui-ux">
                            </div>
                          <a href="/works">
                            
                            <div class="text">
                              <h3 class="title">Graphic Design</h3>
                            </div>
                            </a>
                          </div>
                          
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/videoEditing.png" style="width: 80px;height: 80px;" alt="app">
                            </div>
                            <a href="/works">

                            <div class="text">
                              <h3 class="title">Video Editing</h3>
                            </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/prdocut.png" style="width: 80px;height: 80px;" alt="prd-design">
                            </div>
                            <a href="/works">

                            <div class="text">
                              <h3 class="title">Packaging Design </h3>
                            </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                          <div class="services-item text-center">
                            <div class="image">
                              <img src="/subdomain_manisha/assets/img/icons/2d.png" style="width: 80px;height: 80px;" alt="branding">
                            </div>
                            <a href="/works">

                            <div class="text">
                              <h3 class="title">2D & 3D Animation</h3>
                            </div>
                            </a>
                          </div>
                        </div>


                        <div class="col-md-3 col-sm-6 col-6">
                            <div class="services-item text-center">
                              <div class="image">
                                <img src="/subdomain_manisha/assets/img/icons/motion.png" style="width: 80px;height: 80px;" alt="ui-ux">
                              </div>
                              <a href="/works">
                             
                              <div class="text">
                                <h3 class="title">Motion Graphics</h3>
                              </div>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 col-6">
                            <div class="services-item text-center">
                              <div class="image">
                                <img src="/subdomain_manisha/assets/img/icons/character.png" style="width: 80px;height: 80px;" alt="app">
                              </div>
                              <a href="/works">

                              <div class="text">
                                <h3 class="title">Character Design</h3>
                              </div>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 col-6">
                            <div class="services-item text-center">
                              <div class="image">
                                <img src="/subdomain_manisha/assets/img/icons/explainer.png" style="width: 80px;height: 80px;" alt="prd-design">
                              </div>
                              <a href="/works">

                              <div class="text">
                                <h3 class="title">Explainer Videos </h3>
                              </div>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 col-6">
                            <div class="services-item text-center">
                             
                              <div class="image">
                                <img src="/subdomain_manisha/assets/img/icons/branding.png" style="width: 80px;height: 80px;" alt="branding">
                              </div>
                              <a href="/works">
                              <div class="text">
                                <h3 class="title">Branding </h3>
                              </div>
                              </a>
                            </div>
                          </div>

                      </div>
                    <div class="block-image">
                      <img src="/subdomain_manisha/assets/img/blog/blog-img-1.jpg" alt="blog-img-1" class="img-fluid w-100">
                    </div>
                  </div>
            
                  <div class="client-feedback">
                    <h2 class="main-common-title">Trusted By 1200+ Clients
                    </h2>
                    <div class="row client-feedback-slider">
                        <div class="col-lg-6">
                            <div class="feedback-item">
                              <div class="feedback-top-info">
                                <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </div>
                              </div>
                              <div class="details">
                                <p>
                                  "She is an absolute professional! Her creativity and attention to detail made my branding stand out. 
                                  Highly recommended!"
                                </p>
                              </div>
                              <div class="designation">
                                <p><span>Emily Carter</span></p> 
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="feedback-item">
                              <div class="feedback-top-info">
                                <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </div>
                              </div>
                              <div class="details">
                                <p>
                                  "Her designs are simply stunning! She understood my vision perfectly and delivered beyond my expectations."
                                </p>
                              </div>
                              <div class="designation">
                                <p><span>Michael Rodriguez</span></p> 
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="feedback-item">
                              <div class="feedback-top-info">
                                <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </div>
                              </div>
                              <div class="details">
                                <p>
                                  "Working with her was an amazing experience. The animations she created for my brand were top-notch!"
                                </p>
                              </div>
                              <div class="designation">
                                <p><span>Sarah Thompson</span></p> 
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="feedback-item">
                              <div class="feedback-top-info">
                                <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </div>
                              </div>
                              <div class="details">
                                <p>
                                  "She brings a unique artistic touch to every project. Her video editing skills are next level!"
                                </p>
                              </div>
                              <div class="designation">
                                <p><span>Daniel Parker</span></p> 
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="feedback-item">
                              <div class="feedback-top-info">
                                <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </div>
                              </div>
                              <div class="details">
                                <p>
                                  "Her designs not only look amazing but also effectively communicate the brand message. 
                                  I loved working with her!"
                                </p>
                              </div>
                              <div class="designation">
                                <p><span>Jessica Lee</span></p> 
                              </div>
                            </div>
                          </div>
                     
                          <div class="col-lg-6">
                            <div class="feedback-item">
                              <div class="feedback-top-info">
                                <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                </div>
                              </div>
                              <div class="details">
                                <p>
                                  "Her branding and packaging designs helped my business gain a professional identity. 
                                  I couldn’t be happier!"
                                </p>
                              </div>
                              <div class="designation">
                                <p><span>Sophia Anderson</span></p> 
                              </div>
                            </div>
                          </div>
                                                                                                                                                            
                    </div>
                  </div>
             
                 
                  <div class="work-together-slider">
                    <div class="slider-main d-flex gap-4 align-items-center">
                      <div class="slider-item">
                        <a href="contact.html">Let's 👋 Work Together</a>
                        <a href="contact.html">Let's 👋 Work Together</a>
                      </div>
                      <div class="slider-item">
                        <a href="contact.html">Let's 👋 Work Together</a>
                        <a href="contact.html">Let's 👋 Work Together</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- background shape area start -->
      <div class="background-shapes">
        <div class="shape-1 common-shape">
          <img src="/subdomain_manisha/assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="shape-2 common-shape">
          <img src="/subdomain_manisha/assets/img/bg/banner-shape-1.png" alt="banner-shape-1">
        </div>
        <div class="threed-shape-1 move-with-cursor" data-value="1">
          <img src="/subdomain_manisha/assets/img/bg/object-3d-1.png" alt="object-3d-1">
        </div>
        <div class="threed-shape-2 move-with-cursor" data-value="1">
          <img src="/subdomain_manisha/assets/img/bg/object-3d-2.png" alt="object-3d-2">
        </div>
      </div>
      <!-- background shape area end -->
    </main>
    <!-- main area part end -->

    <!-- footer part start -->
   
    <!-- footer part end -->
  </div>

  <!-- JS here -->
  <%include ./footer.ejs %>  




<!-- Mirrored from marveltheme.com/tf/html/bentofolio-html/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 12:56:28 GMT -->
</html>